<div class="card">
    <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{pomemon.url}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">{{pokemon.ability}}{{pokemon.attack}}{{pokemon.defence}}{{pokemon.hp}}</p>
        {% if %}
        <small><a href="#">Release</a></small>
        {% endif %}
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> 