<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PokeFlask</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('poke.index')}}">Hearthome</a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.poke_farm')}}">Poke Farm</a>
        </li> #}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('main.choose_pokemon')}}">Choose Pokemon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=#>Battle Pokemon</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link"  href="{{url_for('auth.login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{{url_for('auth.register')}}">Register</a>
        </li>
        </ul>
        {% endif %}
    </div>
    {% if current_user.is_authenticated %}
    <ul class="navbar-nav ms-auto align-items-center">
      <a href='#'>
          <img src="{{current_user.get_icon_url()}}" style="height:50px;">
      </a>
      <li class="nav-item">
        <div class="row">
          <div class="col-12">
            <a href ="{{url_for('auth.edit_profile')}}">
              <i class="bi bi-gear"></i></div>
            </a>
          </div>
          <div class="col-12">
            <a href ="{{url_for('auth.logout')}}">
              <i class="bi bi-arrow-right-square"></i>
            </a> 
          </div>
        </div>
      </li>
    </ul>
    {% endif %}
    
    
    
    
    </div>
  </div>
</nav>
       