{% extends 'base.html.j2' %}

{% block title %}
Hearthome 
{% endblock %}

{% block content %}

    <h1>Your Pokemon</h1>
    <hr>
    {% for poke in pokemon %}
        {% include './includes/_poke.html.j2'%}
    {% endfor %}
{% endblock %}
