{% extends 'base.html.j2' %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/poke_farm.css')}}">
{% endblock %}

{% block title %}
Poke Farm
{% endblock %}

{% block content %}

<h1></h1>
<form action="/poke_farm" method="POST">
  <div class="mb-3">
    <label for="name" class="form-label">Enter Pokemon Name</label>
    <input type="text" name = "name" class="form-control" id="name">
  </div>
  <button type="submit" class="btn btn-secondary">Submit</button>
  <small style="color:red">{{error}}</small>
</form>

{% if poke_data %}

<img src = {{poke_data.sprite}}>
<h1>{{poke_data.name.title()}}</h1>
<p>Ability: {{poke_data.ability}}</p>
<p>Defence: {{poke_data.defence}}</p>
<p>Attack: {{poke_data.attack}}</p>
<p>HP: {{poke_data.HP}}</p>

{% endif %}

{% endblock %}